h2{

    font:bold 2em helvetica;
    color: blue;
    text-align: center;

}


body{



}

p{

    font:bold 1em helvetica;
    color: blue;
    text-align: left;
    text-decoration: underline;

}


/* Header */

header {
	width: 100%;
	text-align: right;
	box-sizing: border-box;
}


.nav a {
	background-color: black;
	color: white;
	text-decoration: none;
	padding: 4px;
	border-radius: 7%;
  text-align: right;
}

.header {
	display: flex;
	justify-content: right;
	align-items: right;
	flex-wrap: wrap;
	padding-right: 20px;
}

header h1 {
	color: white;
	padding-top: 50px;
}

.nav {
	list-style: none;
	display: flex;
  text-align: right;
}

.nav:not(:first-child) li {
	margin-left: 20px;
}

.nav li {
	text-transform: uppercase;
	font-weight: 600;
  text-align: right;
}

.logo {
	transition-duration: 0.5s;
}

.logo img {
	width: 500px;
	margin-left: -50px;
	margin-top: -50px;

}

.logo:hover {
	transform: scale(1.05);
}

.nav {
	padding: 18px 0 20px 0;
  text-align: right;
}

/* Main Content */

.main-content {
	width: 95%;
	text-align: center;
	margin: 0 auto;
}

/* Footer */

footer {
	background-color: #595a5b;
	color: white;
	padding: 20px 0;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

footer p {
	padding: 0 0 0 30px;
}

/* Media Queries */
@media(min-width: 700px) {
	h1 {
		font-size: 3.5em;
	}
	.header {
		justify-content: space-between;
		padding-right: none;
	}
	.picture-container {
		padding: 0 10px 0 0;
	}
	.nav a {
		padding: 8px;
	}
}
