h1{

    font:bold 2em helvetica;
    color: black;


}


body{



}

h2{

    font:bold 1.8em helvetica;
    color: blue;
    text-align: center;

}

.img:hover {
	transform: scale(1.05);
}

.gradient {
	margin-top: 20px;
	color: white;
	text-align: center;
	padding: 30px;

}
